# Environments
venv/
.venv/
.vs/

# Python backups & cache
__pycache__/
*.pyc
*.py.bak
*.py.orig
SETTINGS.py.bak
SETTINGS.py.orig

# Large media (usually handled by cloud storage, not GitHub)
# videos/
audio/
# images/
